Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
str1 = "string1"
list1 = list(range(6))
float1 = 3.14
tup1 = tuple(range(5))

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [20]:
var1 = '' #str
var2 = '[ DS , ML , Python]' #str
var3 = [ 'DS' , 'ML' , 'Python' ] #list
var4 = 1. #float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [22]:
a = 20
b = 10
c = 2
# '/' used for division
sol1 = a/b
sol1

2.0

In [29]:
# '%' used for finding remainder (modulus)
sol2 = a % b
sol2

0

In [30]:
# '//' used for floor division
sol3 = a // b
sol3

2

In [31]:
# '**' used for finding power of a number
sol4 = a**c
sol4

400

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [38]:
list1 = [1,2,3,4,'abc',"xyz",4+7j,[5,6,7],"p",10]
for i in list1 :
    print(" {} is of type {} ".format(i,type(i)))

 1 is of type <class 'int'>
 2 is of type <class 'int'>
 3 is of type <class 'int'>
 4 is of type <class 'int'>
 abc is of type <class 'str'>
 xyz is of type <class 'str'>
 (4+7j) is of type <class 'complex'>
 [5, 6, 7] is of type <class 'list'>
 p is of type <class 'str'>
 10 is of type <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [43]:
i = True
while i == True :
    a = int(input("Enter value of A= "))
    b = int(input("Enter value of B= "))
    if a % b == 0 :
        print("A can be divided {} times by B".format(a//b))
        i = False
    else:
        print("A is not purely divisible by B")
        continue

Enter value of A= 8
Enter value of B= 2
A can be divided 4 times by B

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [48]:
list2 = list(range(1,26))
for i in list2 :
    if i % 3 == 0:
        print(" {} is divisible by 3".format(i))
    else:
        print(" {} is not divisible by 3".format(i))

 1 is not divisible by 3
 2 is not divisible by 3
 3 is divisible by 3
 4 is not divisible by 3
 5 is not divisible by 3
 6 is divisible by 3
 7 is not divisible by 3
 8 is not divisible by 3
 9 is divisible by 3
 10 is not divisible by 3
 11 is not divisible by 3
 12 is divisible by 3
 13 is not divisible by 3
 14 is not divisible by 3
 15 is divisible by 3
 16 is not divisible by 3
 17 is not divisible by 3
 18 is divisible by 3
 19 is not divisible by 3
 20 is not divisible by 3
 21 is divisible by 3
 22 is not divisible by 3
 23 is not divisible by 3
 24 is divisible by 3
 25 is not divisible by 3

Q7.What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [51]:
# mutable
"""we can change or modify or assign parts of a data without modifying the entire 
data present in the variable """
# example: consider a list
list1 = [1,2,5,3,4,"python"]
list1[2] = 8
list1

[1, 2, 8, 3, 4, 'python']

In [54]:
# immutable
"""we can not change or modify or assign parts of a data without modifying the entire 
data present in the variable """
# example: consider a string
str10 = "pythan"
#str10[4] = "o" # which will throw error as string is immutable
str10 = "python" # this assignment is possible
str10

'python'